TSW*
.DS_Store
Otherplots/CentromerSNPs.pdf
Otherplots/CorrNbDelvsNbRare.pdf
Otherplots/FinalTables.xlsx
Otherplots/Fst.png
Otherplots/SFS.png
Otherplots/chr10.jpg
Otherplots/chr2.jpg
Otherplots/chr3.jpg
Otherplots/chr4.jpg
Otherplots/chr5.jpg
Otherplots/chr6.jpg
Otherplots/chr7.jpg
Otherplots/chr8.jpg
Otherplots/chr9.jpg
notes.md
